<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/reset.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="img-optimizado/cherry.png" type="image/png">

    <title>Nectar</title>
</head>
<body>
    <div id="wrapper">
        <header class="header_start">
            <div class="header_all">
                <div class="wrapper">
                    <div class="header_title_a_network">
                        <a class="h1_a" href="index.html">
                            <img class="cherry-title" src="img-optimizado/cherry_white.png" alt="title-cherry">
                        </a>    
                    </div>    
                    <div class="header_nav_bars">
                        <label for="main" class="bars-menu"> 
                            <i class="fa-solid fa-bars responsive_bar"></i>
                        </label>
                        <input type="checkbox" id="main" class="nav_input">    <!-- Menu bar on mobile view -->
                        <nav class="nav_menu">    
                            <ul>
                                <li class="list-nav-nectar"><a href="index.html" class="nav_list">Home</a></li>
                                <li class="list-nav-nectar"><a href="menu.html" class="nav_list box-list">Menu</a></li>
                                <li class="list-nav-nectar services-main-list">
                                    <a href="#" class="nav_list">Services</a>
                                    <ul class="services-submain">
                                        <li class="submain-list"><a href="ordernar.html">Ordenar</a></li>
                                        <li class="submain-list"><a href="delivery.html">Delivery</a></li>
                                    </ul>
                                </li>
                                <li class="list-nav-nectar"><a href="about-us.html" class="nav_list">About us</a></li>
                                <li class="list-nav-nectar"><i class="fa-solid fa-user"></i></li>
                            </ul>
                        </nav>     
                    </div>
                </div>
            </div>
        </header>

        <div class="hero">
            <div class="container-hero-about-us">
                <div class="overlow">
                    <div class="wrapper">
                        <div class="welcome">
                            <div class="text-hero">
                                <span class="span-text-hero">About US</span>
                                <p class="p-hero">Bienvenida a Nectar y conoce nuestra historia</p>
                            </div>
                            <div class="buttoms-hero">
                                <a href="ordernar.html" class="bottom-order">Ordena Ahora</a>
                                <a href="menu.html" class="bottom-view-menu">Wiev Menu</a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <main id="main">
            <section class="about-contents">
                <div class="wrapper">
                    <article class="about-origin">
                        <div class="img-origin-nectar">
                            <img src="img-optimizado/origin.jpg" alt="imagen de cafe nectar">
                        </div>
                        <div class="content-txt">
                            <h2 class="title-about">El inicio</h2>
                            <p class="paragraph_about">En el vibrante universo gastronómico, Nectar surge como una obra maestra culinaria, cuidadosamente esculpida a partir de la visión apasionada de Cristian, un creador y amante de la exquisita comida y del arte del café. La génesis de Nectar no solo se encuentra en la creación de un restaurante; es el resultado de la convergencia de sueños, exploración y una profunda conexión con los placeres culinarios.</p>
                            <p>En el corazón mismo de Nectar reside el arte del café. La selección meticulosa de granos, las técnicas de preparación expertas y la presentación cuidadosa convierten cada taza de café en una experiencia sensorial única. En Nectar, el café no es solo una bebida; es un viaje a través de aromas y sabores que elevan el simple acto de tomar café a una expresión de maestría culinaria.</p>
                        </div>
                    </article>
                </div>
            </section>
            <section class="about-contents">
                <div class="wrapper">
                    <h2 class="title-about title-founders">Fundadores de Nectar</h2>
                    <article class="about-creaters">
                        <div class="container-cards-about">
                            <div class="ceo-about">
                                <h3 class="title-user">Cristian Alvares</h3>
                                <img class="img-user" src="img-optimizado/creador.jpg" alt="fundador de nectar">
                                <span class="title-description">Fundador y CEO</span>
                                <p class="description-users-nectar">El visionario detrás de Nectar, es un apasionado amante de la gastronomía y el arte del café. Con una profunda conexión con los placeres culinarios y una creatividad sin límites, Cristian soñó con crear un espacio donde los sabores excepcionales de todo el mundo convergieran con la elegancia. Su dedicación a la excelencia culinaria y su habilidad para fusionar tradiciones gastronómicas han dado vida a Nectar, un lugar donde los sueños culinarios se convierten en realidad.</p>
                            </div>
                            <section class="container-cards-seos"> 
                                <div class="cards-founders card">
                                    <h3 class="title-user">Anna Miller</h3>
                                    <img class="img-user" src="img-optimizado/dd.jpg" alt="co fundador de nectar">
                                    <span class="title-description">Co-Fundadora</span>
                                    <p class="description-users-nectar">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim omnis unde recusandae molestias, voluptatibus dolores pariatur consectetur asperiores facere rem repudiandae, doloribus eius animi laborum saepe velit explicabo porro magnam!</p>
                                </div>
                                <div class="cards-founders">
                                    <h3 class="title-user">Jeniffer Sinatra</h3>
                                    <img class="img-user" src="img-optimizado/usuario1.jpg" alt="co fundador de nectar">
                                    <span class="title-description">Ceo y Co-fundadora</span>
                                    <p class="description-users-nectar">Lorem ipsum,Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim omnis unde recusandae molestias, voluptatibus dolores pariatur consectetur asperiores facere rem repudiandae, doloribus eius animi laborum saepe velit explicabo porro magnam!</p>
                                </div>
                                <div class="cards-founders">
                                    <h3 class="title-user">Juan Lopez</h3>
                                    <img class="img-user" src="img-optimizado/usuario2.jpg" alt="co fundador de nectar">
                                    <span class="title-description">Sub-Director</span>
                                    <p class="description-users-nectar">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim omnis unde recusandae molestias, voluptatibus dolores pariatur consectetur asperiores facere rem repudiandae, doloribus eius animi laborum saepe velit explicabo porro magnam!</p>
                                </div>
                                <div class="cards-founders">
                                    <h3 class="title-user">Sebastian Sanchez</h3>
                                    <img class="img-user" src="img-optimizado/empresario.jpg" alt="co fundador de nectar">
                                    <span class="title-description">Sub-Director</span>
                                    <p class="description-users-nectar">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim omnis unde recusandae molestias, voluptatibus dolores pariatur consectetur asperiores facere rem repudiandae, doloribus eius animi laborum saepe velit explicabo porro magnam!</p>
                                </div>
                            </section>
                        </div>
                    </article>
                </div>
            </section>
            <section class="about-contents">
                <div class="wrapper">   

                    <h2 class="title-chefs-about">Chefs en Nectar</h2>
                    <article class="chefs-container-about">
                        <div class="container-cards-about">
                            <div class="chef-principal">
                                <h3 class="title-user">Albert Guardiola</h3>
                                <img class="img-user" src="img-optimizado/optimizar/chef8.webp" alt="chefs de nectar">
                                <span class="title-description">Sub-Director</span>
                                <p class="description-users-nectar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex consequuntur inventore odit magni neque, animi provident? Maiores optio doloremque libero fuga quibusdam similique eligendi perferendis. Dicta ipsum dolorum consequuntur nulla? Ex cum voluptatibus exercitationem quasi dolor vitae ut adipisci blanditiis, tempora nulla pariatur iste molestias quisquam eum, alias cupiditate id obcaecati! Officia architecto quam deleniti ea! Debitis molestiae id voluptatum eligendi officia repellat, dolores, sit minus, aliquid deleniti ipsa nesciunt. Ex quo ratione odio, enim commodi autem minus dolores!</p>
                            </div>
                            <section class="container-cards-seos">
                                <div class="cards-chefs-about">
                                    <h3 class="title-user">Nelson Cabrera</h3>
                                    <img class="img-user" src="img-optimizado/chef2.jpg" alt="chefs de nectar">
                                    <span class="title-description">Sub-Director</span>
                                    <p class="description-users-nectar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex consequuntur inventore odit magni neque, animi provident? Maiores optio doloremque libero fuga quibusdam similique eligendi perferendis. Dicta ipsum dolorum consequuntur nulla? Ex cum voluptatibus exercitationem quasi dolor vitae ut adipisci blanditiis, tempora nulla pariatur iste molestias quisquam eum, alias cupiditate id obcaecati! Officia architecto quam deleniti ea! Debitis molestiae id voluptatum eligendi officia repellat, dolores, sit minus, aliquid deleniti ipsa nesciunt. Ex quo ratione odio, enim commodi autem minus dolores!</p>
                                </div>
                                <div class="cards-chefs-about">
                                    <h3 class="title-user">Alex Gutierrez</h3>
                                    <img class="img-user" src="img-optimizado/chef4.jpg" alt="chefs de nectar">
                                    <span class="title-description">Sub-Director</span>
                                    <p class="description-users-nectar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex consequuntur inventore odit magni neque, animi provident? Maiores optio doloremque libero fuga quibusdam similique eligendi perferendis. Dicta ipsum dolorum consequuntur nulla? Ex cum voluptatibus exercitationem quasi dolor vitae ut adipisci blanditiis, tempora nulla pariatur iste molestias quisquam eum, alias cupiditate id obcaecati! Officia architecto quam deleniti ea! Debitis molestiae id voluptatum eligendi officia repellat, dolores, sit minus, aliquid deleniti ipsa nesciunt. Ex quo ratione odio, enim commodi autem minus dolores!</p>
                                </div>
                                <div class="cards-chefs-about">
                                    <h3 class="title-user">Diego Morillo</h3>
                                    <img class="img-user" src="img-optimizado/chef3.jpg" alt="chefs de nectar">
                                    <span class="title-description">Sub-Director</span>
                                    <p class="description-users-nectar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex consequuntur inventore odit magni neque, animi provident? Maiores optio doloremque libero fuga quibusdam similique eligendi perferendis. Dicta ipsum dolorum consequuntur nulla? Ex cum voluptatibus exercitationem quasi dolor vitae ut adipisci blanditiis, tempora nulla pariatur iste molestias quisquam eum, alias cupiditate id obcaecati! Officia architecto quam deleniti ea! Debitis molestiae id voluptatum eligendi officia repellat, dolores, sit minus, aliquid deleniti ipsa nesciunt. Ex quo ratione odio, enim commodi autem minus dolores!</p>
                                </div>
                                <div class="cards-chefs-about">
                                    <h3 class="title-user">Anna Toledo</h3>
                                    <img class="img-user" src="img-optimizado/optimizar/bg_3.jpg" alt="chefs de nectar">
                                    <span class="title-description">Sub-Director</span>
                                    <p class="description-users-nectar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex consequuntur inventore odit magni neque, animi provident? Maiores optio doloremque libero fuga quibusdam similique eligendi perferendis. Dicta ipsum dolorum consequuntur nulla? Ex cum voluptatibus exercitationem quasi dolor vitae ut adipisci blanditiis, tempora nulla pariatur iste molestias quisquam eum, alias cupiditate id obcaecati! Officia architecto quam deleniti ea! Debitis molestiae id voluptatum eligendi officia repellat, dolores, sit minus, aliquid deleniti ipsa nesciunt. Ex quo ratione odio, enim commodi autem minus dolores!</p>
                                </div>
                            </section>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        
        <footer class="footer">
            <div class="copy_nectar about nectar footer-top">
                <div class="wrapper">
                    <div class="logo-footer">
                        <img src="img-optimizado/cherry_white.png" alt="logo nectar restaurante">
                        <section class="about-nectar">
                            <h5>Sobre Nectar</h5>
                            <p>Nectar: Tu destino culinario para una experiencia gastronómica inolvidable. Descubre la fusión perfecta de sabores frescos y creatividad en nuestro restaurante de comida. Deléitate con platos exquisitos preparados con pasión y atención al detalle. ¡Bienvenido a Nectar, donde cada bocado es una celebración de la buena comida!</p>
                            <div class="links-footer">
                                <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                        </section>
                    </div>
                    <section class="footer-links-red">
                        <div class="title-links-about">
                            <h5 class="footer-title about-nectar">Nuestras redes sociales</h5>
                        </div>
                        <ul class="links-about-us-nectar">
                            <li class="items-links-reds"><i class="fa-brands fa-facebook"></i><a href="#">Facebook</a></li>
                            <li class="items-links-reds"><i class="fa-solid fa-x"></i><a href="#">Twitter</a></li>
                            <li class="items-links-reds"><i class="fa-brands fa-instagram"></i><a href="#">Instagram</a></li>
                            <li class="items-links-reds"><i class="fa-brands fa-whatsapp"></i><a href="#">Whatsapp </a></li>
                        </ul>
                    </section>
                    <section class="info-nectar">
                        <div class="title-footer-nectar-info">
                            <h5 class="footer-title info-title">Contactanos</h5>
                        </div>
                        <ul class="list-info-customer">
                            <li class="info-nectar li-items">
                                <h5 class="phone-nectar-items">Teléfono:</h5>
                                <a href="#">+34 91 720 86 08</a>
                            </li>
                            <li class="info-nectar li-items">
                                <h5 class="email-nectar-items">Correo electrónico:</h5>
                                <a href="#">contact-nectar@gmail.com</a>
                            </li>
                            <li class="info-nectar li-items">
                                <h5 class="ubication-nectar-items">Localizados</h5>
                                <a href="#">C / Enteça 290</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="wrapper">
                    <p></p>Todos los derechos  reservados, Hecho por Kris</p>
                    <p>Nectar&#169; Restaurant Inc</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>