<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/reset.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="img-optimizado/cherry.png" type="image/png">

    <title>Nectar</title>

</head>
<body>
    <div id="wrapper">
        <header class="header_start">
            <div class="header_all">
                <div class="wrapper">
                    <div class="header_title_a_network">
                        <a class="h1_a" href="index.html">
                            <img class="cherry-title" src="img-optimizado/cherry_white.png" alt="title-cherry">
                        </a>    
                    </div>    
                    <div class="header_nav_bars">
                        <label for="main" class="bars-menu"> 
                            <i class="fa-solid fa-bars responsive_bar"></i>
                        </label>
                        <input type="checkbox" id="main" class="nav_input">    <!-- Menu bar on mobile view -->
                        <nav class="nav_menu">    
                            <ul>
                                <li class="list-nav-nectar"><a href="index.html" class="nav_list">Home</a></li>
                                <li class="list-nav-nectar"><a href="menu.html" class="nav_list box-list">Menu</a></li>
                                <li class="list-nav-nectar services-main-list">
                                    <a href="#" class="nav_list">Services</a>
                                    <ul class="services-submain">
                                        <li class="submain-list"><a href="ordernar.html">Ordenar</a></li>
                                        <li class="submain-list"><a href="delivery.html">Delivery</a></li>
                                    </ul>
                                </li>
                                <li class="list-nav-nectar"><a href="about-us.html" class="nav_list">About us</a></li>
                                <li class="list-nav-nectar"><i class="fa-solid fa-user"></i></li>
                            </ul>
                        </nav>     
                    </div>
                </div>
            </div>
        </header>
        <div class="hero">
            <div class="container_hero">
                <div class="box-img-hero img-carrusel">
                    <div class="overlow">
                        <div class="wrapper">
                            <div class="welcome">
                                <div class="text-hero">
                                    <span class="span-text-hero">Welcome</span>
                                    <p class="p-hero">Bienvenida a Nectar, donde el café, las comidas, el aroma y experiencias se entrelazan.</p>
                                </div>
                                <div class="buttoms-hero">
                                    <a href="ordernar.html" class="bottom-order">Ordena Ahora</a>
                                    <a href="menu.html" class="bottom-view-menu">Wiev Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-img-hero img-carrusel2">
                    <div class="overlow">
                        <div class="wrapper">
                            <div class="welcome">
                                <div class="text-hero">
                                    <span class="span-text-hero">Like</span>
                                    <p class="p-hero">
                                        ¡Caliente, Cremoso y Listo para Disfrutar en Nectar!
                                    </p>
                                </div>
                                <div class="buttoms-hero">
                                    <a href="ordenar.html" class="bottom-order">Ordena Ahora</a>
                                    <a href="menu.html" class="bottom-view-menu">Wiev Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-img-hero img-carrusel3">
                    <div class="overlow">
                        <div class="wrapper">
                            <div class="welcome">
                                <div class="text-hero">
                                    <span class="span-text-hero">Welcome</span>
                                    <p class="p-hero">¡En Nectar el Café es un Fuego de Sabor, Cremosidad y Placer.</p>
                                </div>
                                <div class="buttoms-hero">
                                    <a href="ordenar.html" class="bottom-order">Ordena Ahora</a>
                                    <a href="menu.html" class="bottom-view-menu">Wiev Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-img-hero img-carrusel4">
                    <div class="overlow">
                        <div class="wrapper">
                            <div class="welcome">
                                <div class="text-hero">
                                    <span class="span-text-hero">Remember</span>
                                    <p class="p-hero">No solo creamos café y comidas, creamos momentos. Nuestro espacio es tu refugio, donde puedes disfrutar de la calidez de la compañía o sumergirte en la serenidad de tu propio espacio.</p>
                                </div>
                                <div class="buttoms-hero">
                                    <a class="bottom-order" href="ordenar.html">Ordena Ahora</a>
                                    <a href="menu.html" class="bottom-view-menu">Wiev Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="main">
            <section class="services-nectar time-services">
                <div class="wrapper">
                    <div class="links services-day">
                        <div class="box-services phone-resum">
                            <div class="title-services-content">
                                <i class="fa-solid fa-phone"></i>
                                <h2>Our Phone</h2>
                            </div>
                            <p>900 100 200</p>
                        </div>
                        <div class="box-services localited-site">
                            <div class="title-services-content">
                                <i class="fa-solid fa-location-dot"></i>
                                <h2>Localited</h2>
                            </div>
                            <p>Carrer d Entença 290</p>
                        </div>
                        <div class="box-services clock-day">
                            <div class="title-services-content">
                                <i class="fa-regular fa-clock"></i>
                                <h2>de Lunes a Domingo</h2>
                            </div>
                            <p>9:00am - 22:00pm </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-food-temp">
                <div class="wrapper">
                    <div class="content-stars-slider">
                        <div class="title-slider-star">
                            <h2>Nuestros Mejores Platillos dicho por clientes</h2>
                            <p>¿Te quieres deleitar?</p>
                        </div>
                        <div class="slider-content">
                            <div id="box-1" class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/paella-slider-s.jpg" alt="paella-gucci">
                                <div class="title-box-food">
                                    <h2>Paella</h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/arepa-slider1.jpg" alt="arepa-venezolana">
                                <div class="title-box-food">
                                    <h2>Arepa Reina Pepeada</h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/tres-leches-slider.webp" alt="tres leches">
                                <div class="title-box-food">
                                    <h2>Tres Leches</h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/pizza-sliders.jpg" alt="pizza-rafael">
                                <div class="title-box-food">
                                    <h2>Pizza Mozzarela</h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/pabellon-slider.jpg" alt="pabellon venezolano">
                                <div class="title-box-food">
                                    <h2>Pabellon Criollo </h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/lomo-saltado-slider.jpeg" alt="lomo saltado">
                                <div class="title-box-food">
                                    <h2>Lomo Saltado</h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/pepito-slider.jpg" alt="pepito">
                                <div class="title-box-food">
                                    <h2>Pepito Relleno</h2>
                                </div>
                            </div>
                            <div class="box-slider">
                                <img class="image-slider-fest" src="./img-optimizado/anna-tukhfatullina-food-photographer-stylist-Mzy-OjtCI70-unsplash.jpg" alt="pepito">
                                <div class="title-box-food">
                                    <h2>Pepito Relleno</h2>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </section>
            <section class="services-summary">
                <div class="wrapper">
                    <div class="services">
                        <div class="box-summary">
                            <div class="box-services-img">
                                <img src="./icons/utensilio fff.png" alt=" Utensilios">
                            </div>
                            <div class="title-summary-services">
                                <h3>Mmm... Delicioso</h3>
                                <p>Los mejores platillos hecho por chef expertos</p>
                            </div>
                        </div>
                        <div class="box-summary">
                            <div class="box-services-img">
                                <img src="./icons/repartidor fff.png" alt="glovo repartidor">
                            </div>
                            <div class="title-summary-services">
                                <h3>Quieres Ordenar?</h3>
                                <p>Tenemos opcion de delivery, por toda la ciudad, y rapido</p>
                            </div>
                        </div>
                        <div class="box-summary">
                            <div class="box-services-img">
                                <img src="./icons/chef fff.png" alt="chef">
                            </div>
                            <div class="title-summary-services">
                                <h3>Chefs por el Mundo</h3>
                                <p>Chef profesionales del mundo nos deleitean con su gastronomia</p>
                            </div>
                        </div>
                        <div class="box-summary">
                            <div class="box-services-img">
                                <img src="./icons/bandeja fff.png" alt="bandeja de restaurante">
                            </div>
                            <div class="title-summary-services">
                                <h3>Servicio 24</h3>
                                <p>Atencion al cliente muy profesional, aseguramos que regresaras</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="section-chefs">
                <div class="wrapper">
                    <h2 class="title-chef">Chefs Internacionales en Nectar</h2>
                    <article class="about-chefs">
                        <div class="text-chefs-context">
                            <p class="text-description-chefs">En <span>Nectar</span>, nos enorgullece presentar una <span>experiencia culinaria única</span> que trasciende fronteras. Sumérgete en el fascinante mundo de la <span>gastronomía internacional</span> con nuestra destacada sección <span>"Chefs Internacionales"</span>. Cada uno de nuestros chefs trae consigo una riqueza de conocimientos, técnicas y sabores, fusionando lo mejor de diversas culturas culinarias para deleitar tu paladar. En Nectar, celebramos la diversidad culinaria y te invitamos a unirte a nosotros en este emocionante viaje gastronómico. Descubre el mundo a través del paladar en <span>"Cocinas del Mundo en Nectar: Encuentro con Chefs Internacionales".</span> Te aseguramos una experiencia que va más allá de lo común, <span>donde cada plato es una obra maestra y cada comida es una celebración de la cocina global.</span> ¡Bienvenido a una experiencia culinaria que cruza fronteras en cada bocado!</p>
                            <div class="about-chefs-description">
                                <h4 class="title-description-chefs-about">Algunos de nuestros chefs </h4>
                                <div class="cards-chef-nectar">
                                    <img src="img-optimizado/chef2.jpg" alt="chef-nectar-smaller">
                                    <h4>Jhon Smith</h4>
                                    <div class="items-about-chefs">
                                        <a class="chef-reds linkending-chef" href="https://www.facebook.com/?locale=es_ES"><i class="fa-brands fa-linkedin"></i></a>
                                        <a class="chef-reds github-chefs" href="#"><i class="fa-brands fa-github"></i></a>
                                        <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                    </div>
                                </div>
                                <div class="cards-chef-nectar">
                                    <img src="img-optimizado/chefs2.jpg" alt="chef-nectar-smaller">
                                    <h4>Marc Johnson</h4>
                                    <div class="items-about-chefs">
                                        <a class="chef-reds linkending-chef" href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a class="chef-reds github-chefs" href="#"><i class="fa-brands fa-github"></i></a>
                                        <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                    </div>
                                </div>
                                <div class="cards-chef-nectar">
                                    <img src="img-optimizado/chef3.jpg" alt="chef-nectar-smaller">
                                    <h4>Ethan Hawke</h4>
                                    <div class="items-about-chefs">
                                        <a class="chef-reds linkending-chef" href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a class="chef-reds github-chefs" href="#"><i class="fa-brands fa-github"></i></a>
                                        <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                    </div>
                                </div>
                                <div class="cards-chef-nectar">
                                    <img src="img-optimizado/chef4.jpg" alt="chef-nectar-smaller">
                                    <h4>Mike Afton</h4>
                                    <div class="items-about-chefs">
                                        <a class="chef-reds linkending-chef" href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a class="chef-reds github-chefs" href="#"><i class="fa-brands fa-github"></i></a>
                                        <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <aside>
                            <img class="chef-principal" src="./img-optimizado/chef1.jpg" alt="chef de nectar">
                        </aside>
                    </article>
                </div>
            </section>
            <section class="reserve">
                <div class="maps-nectar">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95689.02672900232!2d2.172518399999991!3d41.45479680000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4987f7c171639%3A0xcfa9069e4be322d5!2sEscola%20Espai!5e0!3m2!1ses-419!2ses!4v1708768257632!5m2!1ses-419!2ses" width="1000px" height="380px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="wrapper">
                    <div class="book-a-table">
                        <div class="form-appointer">
                            <h2 class="title-reserva ">Reserve su Mesa Ahora</h2>
                            <form class="formulary" action="registrer.php">
                                <ul class="form-ul">
                                    <li class="div-name">
                                        <ul class="ul-items-form">
                                            <li class="form_ul_li">
                                                <input type="text" name="nombre" id="nombre" required/>
                                                <label for="nombre">Nombre</label>
                                            </li>
                                            <li class="form_ul_li">
                                                <input type="text" name="apellido" id="apellido" required/>
                                                <label for="apellido">Apellido</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="div-email-phone">
                                        <ul class="ul-items-form">
                                            <li class="form_ul_li">
                                                <input type="text" name="direccion" id="direccion"  required/>
                                                <label for="direccion">Direccion</label>
                                            </li>
                                            
                                            </li>
                                            <li class="form_ul_li">
                                                <input type="text" name="telefono" id="telefono" required/>
                                                <label for="telefono">Telefono</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="div-messege">
                                        <ul class="ul-items-form">
                                            <li class="form_ul_li">
                                                <input type="text" name="messege" id="messege" required>
                                                <label for="messege">Mas</label>
                                            </li>
                                            <li class="submit">
                                                <input class="f" type="submit" value="Reservar">
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="copy_nectar about nectar footer-top">
                <div class="wrapper">
                    <div class="logo-footer">
                        <img src="img-optimizado/cherry_white.png" alt="logo nectar restaurante">
                        <section class="about-nectar">
                            <h5>Sobre Nectar</h5>
                            <p>Nectar: Tu destino culinario para una experiencia gastronómica inolvidable. Descubre la fusión perfecta de sabores frescos y creatividad en nuestro restaurante de comida. Deléitate con platos exquisitos preparados con pasión y atención al detalle. ¡Bienvenido a Nectar, donde cada bocado es una celebración de la buena comida!</p>
                            <div class="links-footer">
                                <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                        </section>
                    </div>
                    <section class="footer-links-red">
                        <div class="title-links-about">
                            <h5 class="footer-title about-nectar">Nuestras redes sociales</h5>
                        </div>
                        <ul class="links-about-us-nectar">
                            <li class="items-links-reds"><i class="fa-brands fa-facebook"></i><a href="#">Facebook</a></li>
                            <li class="items-links-reds"><i class="fa-solid fa-x"></i><a href="#">Twitter</a></li>
                            <li class="items-links-reds"><i class="fa-brands fa-instagram"></i><a href="#">Instagram</a></li>
                            <li class="items-links-reds"><i class="fa-brands fa-whatsapp"></i><a href="#">Whatsapp </a></li>
                        </ul>
                    </section>
                    <section class="info-nectar">
                        <div class="title-footer-nectar-info">
                            <h5 class="footer-title info-title">Contactanos</h5>
                        </div>
                        <ul class="list-info-customer">
                            <li class="info-nectar li-items">
                                <h5 class="phone-nectar-items">Teléfono:</h5>
                                <a href="#">+34 91 720 86 08</a>
                            </li>
                            <li class="info-nectar li-items">
                                <h5 class="email-nectar-items">Correo electrónico:</h5>
                                <a href="#">contact-nectar@gmail.com</a>
                            </li>
                            <li class="info-nectar li-items">
                                <h5 class="ubication-nectar-items">Localizados</h5>
                                <a href="#">C / Enteça 290</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="wrapper">
                    <p></p>Todos los derechos  reservados, Hecho por Kris</p>
                    <p>Nectar&#169; Restaurant Inc</p>
                </div>
            </div>
        </footer>
    </div>    
</body>
</html>