<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/reset.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="img-optimizado/cherry.png" type="image/png">

    <title>Menu</title>
</head>
<body>
    <div id="wrapper">
        <header class="header_start">
            <div class="header_all">
                <div class="wrapper">
                    <div class="header_title_a_network">
                        <a class="h1_a" href="index.html">
                            <img class="cherry-title" src="img-optimizado/cherry_white.png" alt="title-cherry">
                        </a>    
                    </div>    
                    <div class="header_nav_bars">
                        <label for="main" class="bars-menu"> 
                            <i class="fa-solid fa-bars responsive_bar"></i>
                        </label>
                        <input type="checkbox" id="main" class="nav_input">    <!-- Menu bar on mobile view -->
                        <nav class="nav_menu">    
                            <ul>
                                <li class="list-nav-nectar"><a href="index.html" class="nav_list">Home</a></li>
                                <li class="list-nav-nectar"><a href="menu.html" class="nav_list box-list">Menu</a></li>
                                <li class="list-nav-nectar services-main-list">
                                    <a href="#" class="nav_list">Services</a>
                                    <ul class="services-submain">
                                        <li class="submain-list"><a href="ordernar.html">Ordenar</a></li>
                                        <li class="submain-list"><a href="delivery.html">Delivery</a></li>
                                    </ul>
                                </li>
                                <li class="list-nav-nectar"><a href="about-us.html" class="nav_list">About us</a></li>
                            </ul>
                        </nav>     
                    </div>
                </div>
            </div>
        </header>
        <div class="hero-carta">
            <div class="background_main_carta">
                <div class="overlow">
                    <div class="wrapper">
                        <div class="welcome">
                            <div class="text-hero">
                                <span class="span-text-hero">Carta</span>
                                <p class="p-hero">
                                    ¡¿Listo para Disfrutar en Nectar?!
                                </p>
                                <span class="description_main">Preparate para la explosion de sabor</span>
                            </div>
                            <div class="buttoms-hero">
                                <a href="ordenar.html" class="bottom-order">Ordena Ahora</a>
                                <a href="menu.html" class="bottom-view-menu">Wiev Menu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main id="carta">
            <h2 class="title_category">Nuestras Cartas</h2>
            <div class="container_main">
                <section class="next-main summary-main">
                    <div class="wrapper">
                        <div class="summary">
                            <div class="summary-startup">
                                <h3 class="title-startup">Startup</h3>
                                <div class="cards-starts">
                                    <img class="img-sumary width-exp" src="img-optimizado/dish-3.jpg" alt=""/>
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="starts-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-starts">
                                    <img class="img-sumary" src="img-optimizado/dish-1.jpg" alt=""/>
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, distinctio.</p>
                                    </div>
                                    <div class="starts-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-starts">
                                    <img class="img-sumary" src="img-optimizado/kebab-slider.jpg" alt=""/>
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="starts-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-starts">
                                    <img class="img-sumary" src="img-optimizado/paella-thegem-product-single.jpg" alt="">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="starts-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-drinks">
                                <h3 class="title-startup">Bebidas</h3>
                                <div class="cards-drinks">
                                    <img class="img-sumary" src="img-optimizado/drink10.jpg" alt="bebida nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-drinks">
                                    <img class="img-sumary" src="img-optimizado/drink7.jpg" alt="bebida nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-drinks">
                                    <img class="img-sumary" src="img-optimizado/drink11.jpg" alt="bebida nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-drinks">
                                    <img class="img-sumary" src="img-optimizado/drink12.jpg" alt="bebida nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-coffe">
                                <h3 class="title-startup">Cafes</h3>
                                <div class="cards-coffe">
                                    <img class="img-sumary" src="img-optimizado/cafe1.jpg" alt="cafe-nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-coffe">
                                    <img class="img-sumary" src="img-optimizado/cafe2.jpg" alt="cafe-nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-coffe">
                                    <img class="img-sumary" src="img-optimizado/cafe3.jpg" alt="cafe-nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-coffe">
                                    <img class="img-sumary" src="img-optimizado/cafe4.jpg" alt="cafe-nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-desserts">
                                <h3 class="title-startup">Postres</h3>
                                <div class="cards-dessert">
                                    <img class="img-sumary" src="img-optimizado/postre.jpg" alt="postres de nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-dessert">
                                    <img class="img-sumary" src="img-optimizado/anna-tukhfatullina-food-photographer-stylist-Mzy-OjtCI70-unsplash.jpg" alt="postres de nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-dessert">
                                    <img class="img-sumary" src="img-optimizado/postre3.jpg" alt="postres de nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                                <div class="cards-dessert">
                                    <img class="img-sumary" src="img-optimizado/postre4.jpg" alt="postres de nectar">
                                    <div class="text-float">
                                        <h3>Comida</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit.</p>
                                    </div>
                                    <div class="drinks-price">
                                        <span>10.00$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="box-cards-container cocktekes">
                    <div class="wrapper">
                        <h2 class="title-drinks">Bebidas y Cockteles</h2>
                        <section class="container-cards main-drinks">
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/cocktail.jpg" alt="cockteles en nectar">
                                <h2>Bebida 1</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/cocktail2.jpg" alt="cockteles en nectar">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/cocktail3.jpg" alt="cockteles en nectar">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/cocktail4.jpg" alt="cockteles en nectar">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/cocktail5.jpg" alt="cockteles en nectar">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/drink6.jpg" alt="">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/drink7.jpg" alt="">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/drink8.jpg" alt="">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main drinks-cards">
                                <img class="drinks-img-widths" src="img-optimizado/drink9.jpg" alt="">
                                <h2>Bebida </h2>
                                <p>10.00 €</p>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="box-cards-container startup-stars">
                    <div class="wrapper">
                        <h2 class="title-drinks">Platillos Principales</h2>
                        <section class="container-cards main-drinks">
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/Arepas.webp" alt="cockteles en nectar">
                                <h2>Comida 1</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/hamburguesa.jpg" alt="cockteles en nectar">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/paella.jpg" alt="cockteles en nectar">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/ceviche1.jpg" alt="cockteles en nectar">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/dish-3.jpg" alt="cockteles en nectar">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/pabellon-original.jpg" alt="">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/casey-lee-awj7sRviVXo-unsplash.jpg" alt="">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/comida1.jpg" alt="">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/sopa-slider.jpg" alt="">
                                <h2>Comida  </h2>
                                <p>10.00 €</p>
                            </div>
                        </section>
                    </div>
                </section>

                <section class="box-cards-container coffes">
                    <div class="wrapper">
                        <h2 class="title-drinks">Cafes Exquisitos</h2>
                        <section class="container-cards main-drinks">
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/cafe7.jpg" alt="cockteles en nectar">
                                <h2>Cafe</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/cafe 6.jpg" alt="cockteles en nectar">
                                <h2>Cafe</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/cafe3.jpg" alt="cockteles en nectar">
                                <h2>Cafe</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/cafe1.jpg" alt="cockteles en nectar">
                                <h2>Cafe</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/cafe2.jpg" alt="cockteles en nectar">
                                <h2>Cafe</h2>
                                <p>10.00 €</p>
                            </div>
                            <div class="card-main startup-card">
                                <img class="drinks-img-widths" src="img-optimizado/cafe5.jpg" alt="">
                                <h2>Cafe</h2>
                                <p>10.00 €</p>
                            </div>
                        </section>
                    </div>
                </section>

            </div>
        </main>

        <footer class="footer">
            <div class="copy_nectar about nectar footer-top">
                <div class="wrapper">
                    <div class="logo-footer">
                        <img src="img-optimizado/cherry_white.png" alt="logo nectar restaurante">
                        <section class="about-nectar">
                            <h5>Sobre Nectar</h5>
                            <p>Nectar: Tu destino culinario para una experiencia gastronómica inolvidable. Descubre la fusión perfecta de sabores frescos y creatividad en nuestro restaurante de comida. Deléitate con platos exquisitos preparados con pasión y atención al detalle. ¡Bienvenido a Nectar, donde cada bocado es una celebración de la buena comida!</p>
                            <div class="links-footer">
                                <a class="chef-reds instragram-chef" href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a class="chef-reds twiter-chef" href="#"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                        </section>
                    </div>
                    <section class="footer-links-red">
                        <div class="title-links-about">
                            <h5 class="footer-title about-nectar">Nuestras redes sociales</h5>
                        </div>
                        <ul class="links-about-us-nectar">
                            <li class="items-links-reds"><i class="fa-brands fa-facebook"></i><a href="#">Facebook</a></li>
                            <li class="items-links-reds"><i class="fa-solid fa-x"></i><a href="#">Twitter</a></li>
                            <li class="items-links-reds"><i class="fa-brands fa-instagram"></i><a href="#">Instagram</a></li>
                            <li class="items-links-reds"><i class="fa-brands fa-whatsapp"></i><a href="#">Whatsapp </a></li>
                        </ul>
                    </section>
                    <section class="info-nectar">
                        <div class="title-footer-nectar-info">
                            <h5 class="footer-title info-title">Contactanos</h5>
                        </div>
                        <ul class="list-info-customer">
                            <li class="info-nectar li-items">
                                <h5 class="phone-nectar-items">Teléfono:</h5>
                                <a href="#">+34 91 720 86 08</a>
                            </li>
                            <li class="info-nectar li-items">
                                <h5 class="email-nectar-items">Correo electrónico:</h5>
                                <a href="#">contact-nectar@gmail.com</a>
                            </li>
                            <li class="info-nectar li-items">
                                <h5 class="ubication-nectar-items">Localizados</h5>
                                <a href="#">C / Enteça 290</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="wrapper">
                    <p></p>Todos los derechos  reservados, Hecho por Kris</p>
                    <p>Nectar&#169; Restaurant Inc</p>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>